<nav class="navbar navbar-expand-lg navbar-light bg-light">
	<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarTogglerDemo03"
	        aria-controls="navbarTogglerDemo03" aria-expanded="false" aria-label="Toggle navigation">
		<span class="navbar-toggler-icon"></span>
	</button>
	{% url 'home' as home %}
	{% url 'about' as about %}
	{% url 'contact' as contact %}
	{% url 'account_login' as login %}
	{% url 'account_signup' as signup %}
	{% url 'account_logout' as logout %}
	<a class="navbar-brand" href="{% url 'home' %}">Navbar</a>
	<div class="collapse navbar-collapse" id="navbarTogglerDemo03">
		<ul class="navbar-nav mr-auto mt-2 mt-lg-0">
			<li {% if request.path == home %}
				class="nav-item active"
			{% endif %}>
				<a class="nav-link" href="{% url 'home' %}">Home</a>
			</li>
			<li {% if request.path == about %}
				class="nav-item active"
			{% endif %}>
				<a class="nav-link" href="{% url 'about' %}">About</a>
			</li>
			<li {% if request.path == contact %}
				class="nav-item active"
			{% endif %}>
				<a class="nav-link" href="{% url 'contact' %}">Contact</a>
			</li>
			<li class="nav-item dropdown">
				<a class="nav-link dropdown-toggle" href="http://example.com" id="navbarDropdownMenuLink" data-toggle="dropdown"
				   aria-haspopup="true" aria-expanded="false">
					Account
				</a>
				<div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
					{% if request.user.is_authenticated %}
						<a class="dropdown-item" href="{% url 'profile' %}">Profile</a>
						<a class="dropdown-item" href="{% url 'account_logout' %}">Logout</a>
					{% else %}
						<a class="dropdown-item" href="{% url 'account_login' %}">Login</a>
						<a class="dropdown-item" href="{% url 'account_signup' %}">Sign Up</a>
					{% endif %}

				</div>
			</li>
		</ul>
		<form class="form-inline my-2 my-lg-0">
			{% if request.user.is_authenticated %}
				<label for="">Hello {{ request.user }}</label>
			{% endif %}
		</form>
	</div>
</nav>